# Carpetas de datos persistentes
mongo_data/
rabbitmq_data/

# Variables de entorno
variables.env

# __pycache__ y archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración del sistema
.DS_Store
Thumbs.db

# Archivos de log
*.log

